@import "../global/variables.scss";

.benefits {
  //
}

.benefits__wrapper {
  //
}

.benefits__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
}

.benefits__list {
  list-style-type: none;
}

.benefits__item {
  //
}

.benefits__item::after {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-position: center;
}

.benefits__item--nutrients::after {
  // background-image: url("../../images/icons/stack.svg#nutrients");
  // background-repeat: no-repeat;
}

.benefits__item--powder::after {
  // background-image: url("../../images/icons/stack.svg#powder");
  // background-repeat: no-repeat;
}

.benefits__item--substitute::after {
  // background-image: url("../../images/icons/stack.svg#substitute");
  // background-repeat: no-repeat;
}

.benefits__item--pleasure::after {
  // background-image: url("../../images/icons/stack.svg#pleasure");
  // background-repeat: no-repeat;
}

.benefits__description {
  font-family: $secondary-font;
  margin: 0;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
