.copyright {
  //
}

.copyright__link {
  font-family: $secondary-font;
  text-decoration: none;
  display: flex;
  width: 280px;
  justify-content: space-between;

  &:hover,
  :focus {
    color: #444444;
  }

  &:hover path,
  &:focus path {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  text-decoration: none;
  width: 164px;
  height: 35px;
  color: #444444;
  &:hover,
  &:focus {
    color: #444444;
  }
}

.copyright__image {
  //
}
