@import "../global/variables.scss";

.example {
  //
}

.example__wrapper {
  background: #eaeaea;
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
}

.example__paragraph {
  font-family: $secondary-font;
  margin: 0;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  list-style-type: none;
}

.example__item {
  // font-size: 30px;
  // line-height: 37px;

  &--weight {
    font-family: $secondary-font;
    color: #444444;
    font-size: 12px;
    line-height: 12px;
  }

  &--time {
    font-family: $secondary-font;
    color: #444444;
    font-size: 12px;
    line-height: 12px;
  }

  &--price {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.example__description {
  font-family: $primary-font;
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 24px;

  &--price {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.example__slider {
  //
}

.example__image--fat {
  //
}

.example__image--slim {
  //
}
