.intro {
  //
  ::before {
    background-color: rgba(104, 183, 56, 0.851);
  }
}

.intro__wrapper {
  background-image: url('../../images/index-background-mobile@1x.jpg');
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  object-fit: contain;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url('../../images/index-background-mobile@2x.jpg');
  }
}

.intro__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.intro__slogan {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.intro__button {
  //
}

.intro__link {
  //
}

.intro__image {
  //
}
