.intro {
  // background-color: rgba(104, 183, 56, 0.851);
  // background-image: url("../images/index-background-desktop@1x.jpg");
  // background-repeat: no-repeat;
  // background-position: 50% -9px;
}

.intro__wrapper {
  color: #ffffff;
}

.intro__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.intro__slogan {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.intro__button {
  //
}

.intro__link {
  //
}

.intro__image {
  //
}
