.intro {
  //
}

.intro__wrapper {
  background: rgba(104, 183, 56, 0.85);
  color: #ffffff;
}

.intro__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.intro__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.intro__link {
  //
}
