.main-footer {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 0;
  align-items: center;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo {
  //
}

// .main-footer__logo:hover,
// .main-footer__logo:focus {
//   opacity: 0.8;
// }

// .main-footer__logo:active {
//   opacity: 0.6;
// }

.main-footer__social {
  //
}

.main-footer__html-academy-logo {
  //
}
