.main-footer {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 0;
  align-items: center;
}

.main-footer__wrapper {
  //
}

.main-footer__logo {
  //
}

.main-footer__social {
  //
}

.main-footer__html-academy-logo {
  //
}
