.offer {
  //
}

.offer__wrapper {
  width: 280px;
  height: 290px;
  background-image: url("../../images/promo-mobile.jpg");
}

.offer__wrapper::before {
  display: block;
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../images/icons/stack.svg#gift");
  background-position: center;
  background-repeat: no-repeat;
}

.offer__text {
  color: #ffffff;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
}
