@import '../global/variables.scss';

.programs {
  //
}

.programs__wrapper {
  min-width: 360px;
}

.programs__list {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 20px;
}

.programs__item {
  background: #f2f2f2;
  padding: 20px;

  &--weight-loss {
    background-image: url('../../images/icons/stack.svg#cat-black');
    background-size: 50px 53px;
    background-repeat: no-repeat;
    background-position: 20px 21px;
  }

  &--weight-gain {
    background-image: url('../../images/icons/stack.svg#panter-black');
    background-size: 67px 50px;
    background-repeat: no-repeat;
    background-position: 20px 24px;
  }
}

.programs__title {
  margin: 0;
  margin: 12px 0 0 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__paragraph {
  font-family: $secondary-font;
  padding-top: 57px;
  margin: 0;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  display: flex;
  align-items: center;
  padding-top: 38px;
  font-family: $primary-font;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.programs__link:hover,
.programs__link:focus {
  color: rgba(0, 0, 0, 0.6);
  &::after {
    opacity: 0.6;
  }
}

.programs__link:active {
  color: rgba(0, 0, 0, 0.3);
  &::after {
    opacity: 0.3;
  }
}

.programs__link::after {
  display: block;
  content: '';
  width: 32px;
  height: 10px;
  margin-left: 15px;
  background-color: rgb(0, 0, 0);
  mask-image: url('../../images/icons/icon-arrow.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  background-position-x: -8px;
}
