@import "../global/variables.scss";

.site-list {
  //
}

.site-list__item {
  //
}

.site-list__link {
  font-family: $primary-font;
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link--current::before {
  content: "";
  width: auto;
  height: 2px;
  display: block;
  background-color: #68b738;
  position: absolute;
  // left: 16px;
}
