.social {
  //
}

.social__list {
  display: flex;
}

.social__item {
  list-style-type: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  --color: #666666;
}

.social__link::before {
  display: block;
  content: "";
  width: 28px;
  height: 22px;
  background-color: var(--color);
  mask: var(--bgi) no-repeat center / contain;
}

// .social__link--vkontakte {
//   --bgi: url("../../images/icons/stack.svg#vkontakte");
// }

// .social__link--youtube {
//   --bgi: url("../../images/icons/stack.svg#youtube");
// }

// .social__link--telegram {
//   --bgi: url("../../images/icons/stack.svg#telegram");
// }

// .social__link:hover,
// .social__link:focus {
//   --color: #68b738;
// }

// .social__link:active {
//   --color: #68b7384d;
// }
